/* Body and structure
-------------------------------------------------- */
body {
  padding-top: 45px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
    padding-top: 45px;
    /* from: http://lea.verou.me/css3patterns/#rainbow-bokeh */
    background: 
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
    linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;   
}

/* jumbotron-push-spaces is to fix the height of the background */
.jumbotron-push-spaces
{
    height: 100px;
}

.jumbotron h1,
.jumbotron p {
  margin-bottom: 9px;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  color: #fff;
  line-height: 1;
}
.jumbotron p {
  color: #fff; 
}
.jumbotron .lead {
  font-size: 36px;
  line-height: 27px;
}
.jumbotron p a {
  font-weight: bold;
}

#jumbotron-title {
    font-weight: 400;
}

#jumbotron-subtitle {
    font-weight: 400;
}

/* Footer
-------------------------------------------------- */
.footer {
    background-color: #eee;
    background-size: cover;
    padding: 30px 0;
    margin-top:30px;
    text-shadow: 0 0px 0 #fff;
    border-top: 1px solid #e5e5e5;
/*  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
     -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
          box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
*/}

.footer p {
    color: #555;
    font-size: 13px;
}

.footer .alert-message p {
    font-size: 16px;
}

.footer ul {
    font-size: 13px;
}

.twitter_widget p {
    font-size: 13px;
}

.page-header > h1 > a {
    color: #404040;
}

/*
code, pre {
    font-size: 14px;
}
*/


.post-content {
    padding-bottom: 33px;
}

a code {
    color:#0069d6;
}

/* sections in the navbar */
.navbar a {
    font-size: 18px;
}
