---
layout: nil
description: Pallet is a platform for agile and programmatic automation of 
    infrastructure in the cloud, on server racks or directly on virtual machines. 
---
<!doctype html>
<html lang="en">
  {% assign atom = true %}
  {% include head.html %}

  <body>
    {% include topbar.html %}

    <!-- Masthead (blueprinty thing)
         ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Pallet, DevOps for the JVM</h1>
          <p class="lead">
            A fresh look at cloud infrastructure automation.<br/>
            <br/>
          </p>
          <p></p>
        </div><!-- /container -->
      </div>
    </header>

    <!-- Calls to Action
         ================================================== -->
    <div class="quickstart">
      <div class="container">
        <div class="row">
          <div class="span5">
            <h6>Learn what you can do</h6>
            <p>Create an Apache Hadoop cluster on Amazon EC2 in
              5 minutes.</p>
            <p>
              <a href="{{ site.baseurl }}/create-hadoop-clusters-the-easy-peasy-way-wit/"
                 class="btn primary"
                 title="Create an Apache Hadoop Cluster with Pallet"
                 >Read the Article</a>
            </p>
          </div>
          <div class="span6">
            <h6>Read the Documentation</h6>
            <p>Head over to our documentation and start building
              infrastructure in the cloud.</p>
            <p>
              <a href="{{ site.baseurl}}/doc"
                 class="btn primary"
                 title="Pallet Documentation"
                 >Documentation</a>
            </p>
          </div>
          <div class="span5">
            <h6>Fork on GitHub</h6>
            <p>Fork, pull, file issues, and more with the
              official Pallet repo on Github.</p>
            <p><a target="_blank"
                  href="https://github.com/pallet/pallet"
                  class="btn primary"
                  title="Pallet GitHub Repository"
                  >Pallet on GitHub &raquo;</a>
            </p>
          </div>
        </div><!-- row -->
      </div>
    </div> <!-- quickstart -->

    <div class="container">
      <section id="banner">
        <div class="alerts">
          <div class="row">
            {% include banner-main.html %}
          </div>
        </div>
      </section>

      <section id="about" title="About Pallet">
        <div class="page-header">
          <h1>About Pallet
          </h1>
        </div>
        <div class="row">
          <div class="span-one-third">
            <h3>What is Pallet?</h3>
            <p>Pallet is platform for agile and programmatic
              automation of infrastructure in the cloud, on server
              racks or directly on virtual machines. Pallet provides
              cloud provider and operating system independence, and
              allows for an unprecedented level of
              customization.</p>
          </div>
          <div class="span-one-third">
            <h3>Supported Cloud Providers</h3>
            <ul>
              <li><a href="http://aws.amazon.com/ec2">
                  Amazon Web Services' EC2</a></li>
              <li><a href="http://www.rackspace.com/cloud/cloud_hosting_products/servers/">
                  RackSpace Cloud Servers</a></li>
              <li><a href="http://www.gogrid.com/">
                  GoGrid Cloud Hosting</a></li>
              <li><a href="http://www.eucalyptus.com/">
                  Eucalyptus</a></li>
              <li><a href="http://nova.openstack.org/">
                  OpenStack Nova </a></li>
              <li><a href="http://www.slicehost.com/">
                  SliceHost</a></li>
              <li><a href="/doc/reference/supported-providers">
                  ... and many more.</a></li>
            </ul>
          </div>
          <div class="span-one-third">
            <h3>Special Providers</h3>
            <p> Infrastructure providers that are not
              cloud-based</p>
            <ul>
              <li>Server Rack</li>
              <li>Virtual Box</li>
            </ul>
          </div>
        </div> <!-- row -->
      </section>
      <section id="get-started" title="Getting Started with Pallet">
        <div class="page-header">
          <h1>Getting Started</h1>
        </div>
        <div class="row">
          <div class="span-one-third">
            <h3>Documentation</h3>
            <ul>
              <li><a href="/doc" title="Pallet Documentation">General Documentation</a></li>
              <li><a href="/doc/reference"
                     title="Pallet Reference Documentation">Reference Documentation</a></li>
              <li><a href="http://pallet.github.com/pallet/api/0.6/index.html"
                     title="Pallet API Documentation">
                  API Documentation</a></li>
              <li><a href="http://pallet.github.com/pallet/marginalia/uberdoc.html"
                     title="Annotated Pallet Source">
                  Annotated Source</a></li>
            </ul>
          </div>
          <div class="span-one-third">
            <h3>Contact Us</h3>
            <ul>
              <li>On IRC at #pallet (at irc.freenode.net)</li>
              <li><a href="http://groups.google.com/group/pallet-clj"
                     title="Pallet Mailing List">
                  On the Mailing List</a></li>
              <li><a href="mailto:contact@palletops.com"
                     title="Contact PalletOps!">
                  Via e-mail</a></li>
            </ul>
            <h3>Example Projects</h3>
            <ul>
              <li><a href="https://github.com/pallet/pallet-examples/tree/develop/basic"
                     title="Demo of interactive Pallet Use">
                  Basic</a></li>
            </ul>
          </div>
          <div class="span-one-third">
            <h3>Who Is Using Pallet?</h3>
            <ul>
              <li><a href="http://twitter.com">Twitter<a></li>
              <li><a href="http://www.emimusic.com/">EMI Music</a></li>
              <li><a href="http://gogrid.com">GoGrid</a></li>
              <li><a href="http://lonocloud.com">LonoCloud</a></li>
              <li><a href="http://paper.li">paper.li</a></li>
              <li><a href="http://www.wri.org/">World Resources
              Institute</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section id="news" title="Pallet News">
        <div class="page-header">
          <h1><a href="/news" title="Latest Pallet News">Latest News &raquo;</a>
            <small><a href="/news/atom.xml" title="Latest Pallet News Feed">RSS</a></small>
          </h1>
        </div>

        <ul class="unstyled">
          {% for post in site.categories.news limit:3 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>

      <section id="articles" title="Pallet Blog Articles">
        <div class="page-header">
          <h1><a href="/blog" title="Pallet Blog">Articles &raquo;</a>
            <small><a href="/blog/atom.xml" title="Pallet Blog Feed">RSS</a></small>
          </h1>
        </div>
        <ul class="unstyled">
          {% for post in site.categories.blog limit:5 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo;
            <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </div>
    {% include foot.html %}

  </body>
</html>
