---
layout: nil
description: Pallet is a platform for agile and programmatic automation of 
    infrastructure in the cloud, on server racks or directly on virtual machines. 
---
<!DOCTYPE html>
<html lang="en">
  {% assign atom = true %}
  {% include main/head.html %}
  <body>
    {% include main/topbar.html %}
    <header class="jumbotron hidden-sm hidden-xs" id="overview">
      <div class="container">
        <h1 id="jumbotron-title">PalletOps</h1>
          <p class="lead" id="jumbotron-subtitle"> Functional Infrastructures<br/><br/>
          </p>
          <p></p>
      </div><!-- /.container -->
    </div> <!-- /#overview -->
    </header>
    <div class="container">
      <section id="banner">
        <div class="alerts">
          <div class="row">
            {% include main/banner-main.html %}
          </div>
        </div>
      </section>

      <section id="about" title="About Pallet">
        <div class="row">
          <div class="col-md-4">
            <h3>What is Pallet?</h3>
            <p>Pallet is platform for agile and programmatic
              automation of infrastructure in the cloud, on server
              racks or directly on virtual machines. Pallet provides
              cloud provider and operating system independence, and
              allows for an unprecedented level of
              customization.</p>
          </div>
          <div class="col-md-4">
            <h3>Works with</h3>
	    <div class="row">
	      <div class="col-md-6">
		<ul>
		  <li>AWS</li>
		  <li>Rackspace</li>
		  <li>OpenStack</li>
		  <li>Exoscale</li>
		  <li>VirtualBox</li>
		  <li>Docker</li>
		</ul>
	      </div>
	      <div class="col-md-6">
		<ul>
		  <li>Ubuntu</li>
		  <li>CentOS</li>
		  <li>RedHat</li>
		  <li>CoreOS</li>
		</ul>
	      </div>
	    </div> <!-- /.row -->
          </div>
          <div class="col-md-4">
            <h3>Already using Pallet</h3>
	    <div class="row">
	      <div class="col-md-6">
		<ul>
		  <li>Twitter</li>
		  <li>WalmartLabs</li>
		  <li>EMI Music</li>
		  <li>Quantum Retail</li>
		  <li>GoGrid</li>
		</ul>
	      </div>
	      <div class="col-md-6">
		<ul>
		  <li>paper.li</li>
		  <li>CircleCI</li>
		  <li>Share911</li>
		  <li>LSF Interactive</li>
		</ul>
	      </div>
	    </div>
          </div>
        </div> <!-- row -->
      </section>
      <section id="get-started" title="Getting Started with Pallet">
        <div class="row">
          <div class="col-md-4">
            <h3><i class="fa fa-book"></i> Documentation</h3>
            <ul>
	      <li><a href="/pallet/doc/first-steps" title="Tutorial">Tutorial</a></li>
              <li><a href="/pallet/doc" title="Pallet Documentation">Documentation</a></li>
              <li><a href="/pallet/doc/reference"
                     title="Pallet Reference Documentation">Reference</a></li>
              <li><a href="http://pallet.github.com/pallet/api/0.8/index.html"
                     title="Pallet API Documentation">
                  API Docs</a></li>
              <li><a href="/pallet/doc/how-tos/">How-tos</a> and <a href="/pallet/doc/faq/">FAQs</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3><i class="fa fa-envelope-o"></i> Contact Us</h3>
            <ul>
              <li><a href="/contact" title="Ask Us!">Ask us!</a></li>
              <li>Join the <a href="http://webchat.freenode.net/?channels=#pallet">#pallet</a>
                  channel on IRC (irc.freenode.net)</li>
              <li><a href="http://groups.google.com/group/pallet-clj/subscribe"
                     title="Join Mailing List">
                  Join</a>, 
                     <a href="mailto:pallet-clj@googlegroups.com">post to</a>,
                    or
                    <a href="http://groups.google.com/group/pallet-clj">visit</a>
                    our Mailing List</li>
              <li>Drop us an <a href="mailto:contact@palletops.com"
                     title="Contact PalletOps!">
                   e-mail</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3><id class="fa fa-mortar-board"></i> Tutorials</h3>
            <ul>
              <li><a href="/pallet/doc/first-steps/"
                     title="First steps guide">First Steps</a></li>
              <li><a href="https://github.com/pallet/pallet-examples/tree/develop/webapp-haproxy-nodes/"
                     title="A complete example">A Complete Example </a></li>
            </ul>
          </div>

        </div>
      </section>

    </div>
    {% include main/foot.html %}
    </div> <!-- /.container -->
  </body>
</html>
