<div class="row">
<div class="col-md-9 content">
  <div class="page-header">
    <h1 class="title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <p class="text-muted post-meta"> This post was published on {{ page.date | date:'%d %B %Y' }}
    under the category: {% for category in page.categories %}
    <a href="/blog/category/{{ category }}" style="text-decoration: none">
      <span class="label label-primary">{{category }}</span> </a>{% endfor %}
  </p>
  
  {% include main/share.html %}
  {% include main/disqus.html %}
</div><!--content-->
<div class="col-md-3 col-xs-12 sidebar">
  {% include main/sidebar-common.html %}
  {% include blog-tags.html %}
</div><!-- /.sidebar -->
</div><!-- /.row -->
