<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
        <link rel="stylesheet/less" type="text/css" 
              href="{{ site.baseurl }}/lib/bootstrap.less">
        <link rel="stylesheet" href="{{ site.baseurl }}/pallet.css">
        <script src="less.js" type="text/javascript"></script>
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

    {% include topbar.html %}

	<div class="container">
