<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" type="text/css" 
        href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pallet.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/css.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css">

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19685457-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
