<div class="row">
  <div class="span12 offset2">
    <div class="alert-message block-message success">
      <div class="row">
        <div class="span9">
          <p><strong>Official Pallet Training scheduled for March
              14-15</strong></p>
          <p>The authors of Pallet will be providing training
            during <a href="http://clojurewest.org">Clojure/West
              2012</a> in San Jose, CA</p>
        </div>
        <div class="span2">
          <div class="alert-actions">
            <a class="btn medium"
            href="http://www.regonline.com/Register/Checkin.aspx?EventID=1041359">
              Register Now!</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
