<div class="row">
  <div class="span10 offset3">
    <div class="alert-message block-message success">
      <div class="row">
        <div class="span7">
          <p><span class="label success">New!</span> <strong>Pallet
              Training</strong> scheduled for March 14-15</p>
          <p> <strong>&raquo <u>
                <a href="http://www.regonline.com/Register/Checkin.aspx?EventID=1041359">
                  Sign up before Jan 27 for early bird
                  </a>
          pricing.</u></strong></p>
          <p> Organized by Clojure/West 2012 </p>
        </div>
        <div class="span2">
          <div class="alert-actions">
            <a class="btn medium"
            href="http://www.regonline.com/Register/Checkin.aspx?EventID=1041359">
              Register Now!</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
