---
layout: nil
title: Pallet Blog
section: blog
description: Articles about Pallet's new features, use cases and other
    interesting things
---
<!doctype html>
<html lang="en">
  {% assign atom = true %}
  {% include main/head.html %}
  <body>
    {% include main/topbar.html %}
    <div class="post">
      <div class="container">
        <div class="row">
          <div class="col-md-9 content">
            <div class="page-header">
              <h1 class="title"> The Pallet Blog </h1>
            </div>
              {% for post in site.categories.blog offset: 0 limit: 25 %}
                <div class="post_content">  
                  <h2><a href="{{ post.url }}/">{{ post.title }}</a></h2>
                  <p class="date">{{ post.date | date: "%A, %d %B %Y"}}</p>
                  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                  <p><a href="{{ post.url }}/">Go to Article</a></p>
                </div>
              {% endfor %}
            </div>
          <div class="col-md-3 sidebar">
            {% include main/sidebar-common.html %}
          </div>
        </div> <!-- row -->
      </div> <!-- container -->   
      {% include main/foot.html %}
  </body>
</html>


